
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&family=Poppins:wght@200;300;400;500;700;900&display=swap');
:root{
    --primaryColor: #1abc9c;
--secordaryColor: #2c3e50;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    font-family: poppins;
    width: 100%;

}
nav,header,aside,main,section{
    max-width: 100%;
}
nav{
    background-color: var(--secordaryColor);
    display: flex;
    align-items: center;
    padding: 1em;
    color: #fff;
}
.nav-heading{
 margin-left: 1em;
font-weight: 900;
}
.nav-items{
    list-style: none;
    margin-left: auto;
    margin-right: 2em;
    display: flex;
}
.nav-items > li{
    margin-right: 2em;
}
.nav-links{
    text-decoration: none;
    color: #fff;
  background-color: transperent;
}
.nav-links:hover{
    background-color: var(--primaryColor);
    padding: .5em 1.5em;
    border-radius: 2em;
    font-weight: 700;
}
.menu-hamburger{
    display: none;
    position: absolute;
    top: 25px;
    right: 10px
}
@media (max-width: 800px) {
    nav{
        flex-direction: column;
        align-items: flex-start;
    }
    .menu-hamburger{
        display: block;
    }
    .nav-items{
        margin-top: 2em;
        display: none;
        flex-direction: column;
       margin-right: auto;
       justify-content: space-between;
    }
    .nav-items >li{
        margin: 1em 0;
    }

}


header{
    background-color: var(--primaryColor);
    text-align: center;
    color: white;
    height: 70vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
header >img, .dev-image{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    
}
header > h1{
    font-weight: 700;
    font-size: 3.5em;
    margin-top: .8em;
    text-transform: uppercase;

}
.light-divider{
    display: flex;
    align-items: center;
    justify-content: center;
}
.light-divider > ion-icon{

    font-size: 2em;
}
.light-divider > hr{
    width: 20vw;
    background-color: #fff;
    height: 4px;
    margin: 1em;
    border: none;
    border-radius: 5px;
}
.dev-title{
    font-weight: 300;
}

/* About */
main{
    text-align: center;
    color: var(--secordaryColor);
    padding: 2em;
}
main>h2{
    font-size: 3em;
    margin-bottom: .5em;
    text-transform: uppercase;
}
.dark-divider{
    display: flex;
    align-items: center;
    justify-content: center;
}
.dark-divider > ion-icon{
    font-size: 2em;
}
.dark-divider > hr{
    width: 20vw;
    background-color: var(--secordaryColor);
    height: 4px;
    margin: 1em;
    border: none;
    border-radius: 5px;
}
.dev-image {
    margin-top: 1.5em;
}
.about-info{
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 0 1em;
    font-weight: 500;
}
.resume-btn > ion-icon{
    font-size: 16px;
}
.resume-btn{
    padding: 1em 2em;
    border-radius: 1em;
    border: none;
    background-color: var(--primaryColor);
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}
.resume-btn:hover{
    cursor: pointer;
    font-weight: 700;
    background-color: var(--secordaryColor);
}

/* skills section */
aside{
    background-color: var(--secordaryColor);
    padding: 2em;
    color: white;
}
aside >h2{
    text-align: center;
    font-size: 3em;
    text-transform: uppercase;
}
 .skills{
    margin-top: 3em;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-content: space-between;

}
.skill{
    display: flex;
    align-items: center;
    align-self: center;
    justify-self: center;
    margin-right: 10px;
    margin-top: 10px;
}
.skill >img{
    width: 50px;
    height: 50px;
    transition: height 2s ;
}
.skill > img:hover{
    width: 70px;
    height: 60px;
}
.skill >h4{
    font-weight: 300;
    font-style: italic;
} 
/* projects */
section{
    background-color: var(--primaryColor);
    padding: 2em;
    color: white;
}
section >h2{
    text-align: center;
    font-size: 3em;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.project-container{
    margin-top: 2em;
    display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 2em;

}
.project{
    text-align: center;
    border: 1px solid white;
    border-radius: 10px 10px 0 0;
}

@media (max-width: 600px) {
    .project-container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

}

.project-image{
    width: 100%;
    border-radius: inherit;
}
.project-title{
    margin: 1em;
    font-weight: 700;
}
.project-description{
    padding: 0 2em;
    line-height: 1.5;
}
.links{
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.links > a {
    font-size: 2em;
    color: white;
}
.github-link{
    text-align: center;
    margin-top: 2em;
    font-size: 1em;
    font-weight: 700;
    word-spacing: 2px;
}
.github-link > a{
    color: white;

}

/* footer */

footer{
    background-color: var(--secordaryColor);
    padding: 3em 4em;
    display: flex;
    justify-content: space-evenly;
}
.location, .message,.social-media{
    text-align: center;
}
.location >h2,.message >h2, .social-media >h2{
    color: white;
    margin: .5em 0;
    font-weight: 700;
    text-transform: uppercase;
}

.location >p,.message >p{
    color: white;
    font-weight: 300;
    margin-bottom: 1em;
}
.email-btn {
    border-radius: 16px;
    font-family: poppins;
    color: #ffffff;
    font-size: 16px;
    padding: 10px 20px;
    background: var(--primaryColor);
    text-decoration: none;
    border: none;
    cursor: pointer;
  }
  
  .email-btn:hover {
    background: white;
    text-decoration: none;
    color: var(--secordaryColor);
    font-weight: 700;
  }
  .social-links{
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  .social-link{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border: 1px solid white;
    border-radius: 50%;
    color: white;
    
  }
  .social-link:hover{
    background-color: white;
    color: black;
  }
  @media (max-width: 600px) {
    footer{
        flex-direction: column;
    }
  }
  .copyright{
    padding: 1em;
    text-align: center;
    background-color: rgb(19, 23, 26);
    color: white;
    font-weight: 200;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.copyright > p{
    align-self: center;
}
  .copyright > a{
    color: white;
    position: relative;
    left: 10px;
    font-size: 40px;
  }

 