@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&family=Poppins:wght@300;400;500;700;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins;
    /* outline: 1px solid red; */

}

nav{
    background-color: #77B6EA;
    display: flex;
    align-items: center;
    padding: 1em;
    color: #fff;
}
.nav-heading{
 margin-left: 1em;
font-weight: 900;
}
.nav-items{
    list-style: none;
    margin-left: auto;
    margin-right: 2em;
    display: flex;
}
.nav-items > li{
    margin-right: 2em;
}
.nav-links{
    text-decoration: none;
    color: #fff;
  background-color: transperent;
}
.nav-links:hover{
    background-color: #37393A;
    padding: .5em 1.5em;
    border-radius: 2em;
}
.menu-hamburger{
    display: none;
    position: absolute;
    top: 25px;
    right: 10px
}
@media (max-width: 600px) {
    nav{
        /* height: 30vh; */
        flex-direction: column;
        align-items: flex-start;
    }
    .menu-hamburger{
        display: block;
    }
    .nav-items{
        margin-top: 2em;
        display: none;
        flex-direction: column;
       margin-right: auto;
       justify-content: space-between;
    }
    .nav-items >li{
        margin: 1em 0;
    }

}

/* Header */
header{
    display: flex;
    padding: 3em;
    justify-content: center;
    align-items: center;
    gap: 1em;
    background-color: #37393A;
    color: #77B6EA;
}
.developer-name{
   font-size: 40px;
}
.developer-name > span{
    font-weight: 300;
}
.developer_title{
font-weight: 700;
font-size: 30px;
}

.developer-images{
    width: 50%;
    height: 400px;
    border-radius: 50%;
    margin-left: auto;
}